<header>
  <div id = "header">
    <h1><a href="/">Rock, Paper, Scissors</a><img src="<%if (title == "results") {%>../<%}%>../images/logo.png" alt="Smiley face" height="47" width="123"> </h1>
  </div>
  <a href ="/rules" id = "show_rules_button">View Rules</a>
  <a href ="/stats" id = "show_stats_button">View Stats</a>
  <a href ="/about" id = "show_about_button">About P,R,S: Showdown</a>
</header>
