<!DOCTYPE html>
<html>
  <head>
    <title>P,R,S - Game</title>
    <link rel="stylesheet" href="../styles/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  </head>

<body>
  <% include global/header %>

  <div id="feedback" class = "<%if (title == "error") {%>negative<%} else {%>positive<%}%>">
    <%if (title == "playGame") {%>
      Play the Game!
    <%} else if (title == "error") {%>
      Please enter a valid weapon and villain!
    <%} else {%>
      Successfully Logged In!
    <%}%>
  </div>

  <div id="throw_choice">
    <img id="martin atkinson" src="" height=300; width=300; style = "position: relative; float: left; z-index:1000; left:6%; padding-top:5%">
    <div style = "position: relative; left:-11%">
      <h2 id="hurry?">Play the Game</h2>
      <h4><%=user.name%> it's your turn to bust a move!</h4>
      <form action="../user/<%=user.name%>/results" method="get">
        Enter your choice of weapon:<br>
        <select name="weapon">
          <option value="error"> </option>
          <option value="paper">Paper</option>
          <option value="rock">Rock</option>
          <option value="scissors">Scissors</option>
        </select><br>
        <br>
        Choose a villain to play:<br>
        <select id = "villains" name="villain">
          <option value="error"> </option>
          <option value="Bones">Bones</option>
          <option value="Comic_Hans">Comic Hans</option>
          <option value="Gato">Gato</option>
          <option value="Harry">Harry</option>
          <option value="Manny">Manny</option>
          <option value="Mickey">Mickey</option>
          <option value="Mr_Modern">Mr. Modern</option>
          <option value="Pixie">Pixie</option>
          <option value="Regal">Regal</option>
          <option value="Spock">Spock</option>
          <option value="The_Boss">The Boss</option>
          <option value="The_Magician">The Magician</option>
        </select>
        <br><br>
        <button type = "submit" id="throw_choice_button">Throw Choice</button>
      </form>
      <img id = "villain_img" width = "200" height = "200" src = "">
    </div>
  </div>
  <% include global/footer %>
  <script src="../scripts/scripts.js"></script>
  <script>
    var villain = $( "#villains" ).val()
    if (villain == "error") {
      $("#villain_img").hide();
    } else{

    }

    $("#villains").change(function(){
      var villain = $( "#villains" ).val()
      if (villain == "error") {
        $("#villain_img").hide();
      } else {
        $("#villain_img").show();
        $("#villain_img").attr("src", "../images/"+villain.toLowerCase()+"_waiting.svg");
        $("#throw_choice").css("padding-bottom", "0em");
      }
    });
  </script>
 </body>
</html>
