<!DOCTYPE html>
<html>
<head>
  <title>P,R,S - Index</title>
  <link rel="stylesheet" href="<%if (user.failure === 4){%>..<%}%>/styles/style.css">
 </head>

<body>
  <% include global/header %>


  <div id="feedback" class = "negative">
    <%if (user.failure === 4){%>
      Wrong Password
    <%} else{%>Please Log In<%}%>
  </div>
  <div id="enter_name">
    <h2>Welcome to Paper, Rock, Scissors</h2>
    <form action="/users/game" method="get">
      Name:<input type="text" id="enter_name_input" name="player_name"><br>
      PSWD:<input type="text" id="enter_psw_input" name="pswd"><br>
      <button type="submit" id = "enter_name_button">Submit Name</button>
    </form>
    <br>
    <a href="/user/new" id = "create">Create account</a>
  </div>
  <% include global/footer %>
  <script src="scripts/scripts.js"></script>
 </body>
</html>
