<!DOCTYPE html>
<html>

<head>
    <title>Instructions</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>

<body>
    <% include global/header %>

        <div id="Instructions">
            <h1><small><u>Instructions</u></small></h1>
            <br>
            <h4><small>Welcome! The purpose of this website is for you to receive your own API key. All you need to do to receive one is enter your email! However, make sure you do not enter an email that is already in use.
        
        
        
        </small></h4>
            <br>
            <p> The basic form of the request is "https://radiant-fjord-19703.herokuapp.com/data?type=[type]&apikey=[key]". All these parameterss are necessary. Type can be "cases" or "distribution". If the type is "cases", one can take advantage of the optional paramters, year, sex, neighborhood, race. If the type is "distribution", the only optional parameter is the zipcode. The server will always return all of the data that fits the parameters that have been given.
            </p>
            <p>
                For data on HIV cases, the format of the JSON is: [[year,neighborhood,sex,race,per100k,diagnosiscount],[year,neighborhood,sex,race,per100k,diagnosiscount]], with as many rows as entries that meet the request parameters. Similarly, for the distribution centers, the format of the JSON [[zipcode,distributionaddress], [zipcode, distributionaddress]], with, again, a many rows as entries that meet the request parameters.
            </p>
        </div>
        <!-- if there is no user signed in (no email exists), then they can only return to sign in page to create an account -->
        <div>
            <br>
            <a href="/sign_up">Return to Sign Up Page</a>
            <br>
        </div>


        <% include global/footer %>
            <script src="scripts/scripts.js"></script>
</body>

</html>
