<!DOCTYPE html>
<html>
<head>
  <title>Instructions</title>
  <link rel="stylesheet" href="../styles/style.css">
 </head>

<body>
  <% include global/header %>

  <div id="Instructions">
    <h1><small><u>Instructions</u></small></h1>
    <br>
    <h4><small>Welcome! The purpose of this website is for you to receive your own API key. All you need to do to receive one is enter your email! However, make sure you do not enter an email that is already in use.</small></h4>
    <br>

  </div>
  <!-- if there is no user signed in (no email exists), then they can only return to sign in page to create an account -->
      <div>
      <br>
      <a href ="/sign_up">Return to Sign Up Page</a>
      <br>
    </div>


  <% include global/footer %>
  <script src="scripts/scripts.js"></script>
 </body>
</html>
