<!DOCTYPE html>
<html>
<head>
  <title>Results</title>
  <link rel="stylesheet" href="/styles/style.css">
 </head>

<body>
    <% include global/header %>

      <h2>User Information</h2>

      <!--<h4 id = "badFeedback"><%=user.message%></h4>-->

      <%if(user.message =="fail"){%>
        <div id = "email_error">
        <h3> The entered email is already in use </h3>
        <form action="/sign_up" method="get">
          <button type="submit" id = "results_button">Enter a different email</button>
        </form>
        <br>
      </div>
      <%}%>





      <%if(user.message == "success"){%>
        <div id = "email_new">
        <h3>Here is your information!</h3>
        <h4>
          Email: <%=user.email%>
          <br>
          API Key: <%=user.key%>
          <br>
        </h4>
      </div>
      <%}%>


  <footer>
    <% include global/footer %>
  </footer>
  <!--  <script src="scripts/scripts.js"></script> -->
 </body>
</html>
