<!DOCTYPE html>
<html>
<head>
  <title>P,R,S - Rules</title>
  <link rel="stylesheet" href="../styles/style.css">
 </head>

<body>
  <% include global/header %>

   <div id="rules" class="visible">
      <h2>Rules</h2>
      <div class= "content">
        The game of P, R, S is based on trust, skill and determination.
        Each player must:
        <ul>
          <li>make a fist with one hand and hold the other open, palm upward</li>
          <li> at the same time, they tap their fists in their open palms once, twice, and on the third time form one of three items</li>
          <ul>
            <li> a rock (by keeping the hand in a fist)</li>
            <li> a sheet of paper (by holding the hand flat, palm down)</li>
            <li> or a pair of scissors (by extending the first two fingers and holding them apart) </li>
          </ul>
        </ul>
        If the same item is thrown, it's a tie.
        Other wise,
        <ul>
          <li> Rock beats Scissors </li>
          <li> Scissors beats Paper </li>
          <li> Paper beats Rock </li>
        </ul>
        For more information, go to the <a href = "http://worldrps.com/"> World RPS Society</a>
      </div>
      <br>
      <form action="/playAgain" method="get">
        <button type="submit" id = "play_again">Play</button>
      </form>
    </div>
    <% include global/footer %>
  <script src="scripts/scripts.js"></script>
 </body>
</html>
