/*@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');*/
@import url('https://fonts.googleapis.com/css?family=Cinzel:900');
@import url('https://fonts.googleapis.com/css?family=Montserrat:600');

div {
  font-family: helvetica;
  font-weight: 100;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 50px;
  margin-left: 50px;
  background-color: #ffff99;
  text-align: center;
  list-style-position: inside;
}

h1 {
  font-family: helvetica;
  text-decoration: bold;
  font-weight: 100;
  color: #f442d9;
  text-align: center;
}

.instructions{
  margin-left: 30px;
}


h2{
  font-family: helvetica;
  font-weight: 100;
  color: black;
  text-align: center;
}

h3 {
  font-family: helvetica;
  font-weight: 100;
  color: #f442d9;
  text-align: center;
}
h4{
  font-family: helvetica;
  font-weight: 100;
  color: black;
  text-align: center;
}

h5{
  font-family: helvetica;
  font-weight: 100;
  color: black;
  text-align: center;
}


footer{
  font-family: helvetica;
  font-weight: 100;
}

header{
  font-family: helvetica;
  font-weight: 100;
}
